.textarea__add__car__form {
    width: 65%;
    resize: none;
}

.textarea__add__car__form::placeholder {
    color: black!important;
    opacity: 1;
}
.add__car-btn {
    display: inline;
    background: #000d6b !important;
    color: #fff !important;
    padding: 8px 15px;
    border: none;
    outline: none;
}
.add__car__form input::placeholder{
    color: black!important;
    opacity: 1;
}

.add__car-btn:hover {
    color: rgb(249, 168, 38, 0.9) !important;
}

@media only screen and (max-width: 992px) {
    .find__cars-left {
        padding: 103px 22px;
    }

    .find__cars-left h2 {
        font-size: 1.5rem;
    }

    .form {
        padding: 30px 10px;
    }

    .form__group input,
    .select__group select {
        padding: 7px 10px;
        font-size: 0.8rem;
    }

    .hero__form {
        bottom: -100px;
    }
}

@media only screen and (max-width: 768px) {
    .find__cars-left {
        padding-top: 20px;
        padding-bottom: 0;
        background: #fff;
        text-align: center;
    }
    .find__cars-left h2 {
        font-size: 1.5rem;
    }

    .form {
        padding: 20px 10px;
    }
}

.hide_car__add__button {
    margin-top: -4rem;
    color: black;
    background: white !important;
}

.hide_car__add__button:hover {
    color: red!important;
}

.hide_car__add__button:focus {
    color: red !important;
    border: none !important;
    text-decoration: none !important;
    outline: none !important;
}