.car__faults {
    position: absolute;
    top: 30em;
    left: 0em;
    z-index: 11;
    width: 20%;
}

.table-faults {
    background: #000d6b;
}
td {
    border: none!important;
}

.table-th:hover {
background-color: #00b5c2;
}

.hide_faults__button:hover {
    color: red!important;
}