.login__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    min-height: 70vh;
    color: #000d6d;
}

.login__title{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login__register{
    margin-top: 2rem;
}

.login__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.login__link, .login__link:visited, .login__link:hover {
    color: #3e00ff;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
}

.login__hr{
    border-width: 0.15rem;
}

.login__line{
    text-align: left;
}
.login__button {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 1.5rem;
    background: #000d6b !important;
    color: #ffffff;
    transition: 0.3s;
}
.login__input[type="text"],
.login__input[type="email"],
.login__input[type="password"],
.login__textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 576px) {
    .login__form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
    }
}
