.mechanical__service__link a{
    color: white !important;
    text-decoration: none
;
}

.service_table {
    overflow-y: scroll !important;
    height: 70vh!important;
}

@media only screen and (max-width: 1000px) {
    .button__position {
        margin-bottom: 5px;
    }
}
