@media only screen and (max-width: 1000px) {
    .add__user__btn {
        width: 50%!important;
    }
}

@media only screen and (max-width: 500px) {
    .add__user__btn {
        width: 70%!important;
    }
}

@media only screen and (max-width: 1000px) {
    .button__position {
        margin-bottom: 5px;
    }
}

