<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bajkownia.org - Mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Drogi użytkowniku,</p>

    <p>Zgodnie z Twoim życzeniem zmieniamy adres e-mail przypisany do konta <b th:text="${player.getLogin()}"></b> z adresu:
        <b th:text="${player.getEmail()}"></b> na nowy: <b th:text="${emailChange.getNewEmail()}"></b>.</p>

    <p>Jeśli chcesz potwierdzić zmianę kliknij w link (hiperłączę) lub skopiuj link do przeglądarki:</p>
    <p><a th:href="${urlToChangeEmail}" th:text="${urlToChangeEmail}"></a></p>

    <p>Pamiętaj, że po potwierdzeniu nowy adres email zostanie aktywowany, a poprzedni zostanie odłączony od konta.</p>

    <p>W razie problemów prosimy o kontakt z administratorem: <a th:href="'mailto:' + ${adminEmail}" th:text="${adminEmail}"></a></p>

    <p>Pozdrawiamy,</p>

    <p>Administracja Bajkowni</p>
</body>
</html>
